<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RaaSTest.beforeClass()[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:08</td>   <td>176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:24</td>   <td>15592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
<tr bgcolor="a0a1cc">  <td>16/09/23 08:31:28</td>   <td>20248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RaaSTest.testRegisterAccount(java.util.HashMap)[pri:0, instance:com.fsoft.tfsauto.test.RaaSTest@28c4711c]">testRegisterAccount</td> 
  <td>main@660017404</td>   <td></td> </tr>
</table>
